<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        #app {
            font-family: "Avenir", Helvetica, Arial, sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            /* text-align: center; */
            color: #2c3e50;
            /* margin-top: 60px; */
        }
    </style>
    <!-- 引入样式文件 -->
    <link rel="stylesheet" href="./styles/vant.css">
    <title>谊众CRM系统</title>
</head>

<body>
    <div id="app">
        <!--  <div v-for="(value, name) in referreds">
            {{ name }}: {{ value }}
        </div>
        <div v-for="(value, name) in operator">
            {{ name }}: {{ value }}
        </div> -->
        <van-collapse v-model="activeNames" accordion>
            <van-collapse-item :name="rd.id" v-for="(rd, index) in referreds">
                <van-row slot="title" style="display: flex; align-items: baseline;">
                    <van-col span="10">{{ rd.order.potential_customer.name }}---{{ rd.order.potential_customer.phone }}
                    </van-col>
                    <van-col span="4">
                        <van-tag round>{{ rd.order.carType }}</van-tag>
                    </van-col>
                    <van-col span="10">
                        <van-progress :percentage="state2num(rd.state)" stroke-width="8" color="#f2826a"
                            :pivot-text="act.get(rd.state)" :inactive="rd.state=='fail'"></van-progress>
                    </van-col>
                </van-row>
                <van-row gutter="20">
                    <van-col span="6">创建时间：</van-col>
                    <van-col span="18">{{ new Date(rd.tracks[0].update_time).toLocaleString() }}
                    </van-col>
                </van-row>
                <van-row gutter="20">
                    <van-col span="6">创建人：</van-col>
                    <van-col span="18">{{ rd.tracks[0].data.operator.name }}---{{ rd.tracks[0].data.operator.mobile }}
                    </van-col>
                </van-row>
                <van-row gutter="20">
                    <van-col span="6">介绍人：</van-col>
                    <van-col span="18">{{ rd.order.from_customer.name }}---{{ rd.order.from_customer.phone }}</van-col>
                </van-row>
                <van-row gutter="20">
                    <van-col span="6">指派顾问：</van-col>
                    <van-col span="18">{{ rd.order.dispatch_employer.name }}---{{ rd.order.dispatch_employer.mobile }}
                    </van-col>
                </van-row>
            </van-collapse-item>
        </van-collapse>
        <!--  <van-button type="default" @click="download">下载excel文件</van-button> -->
    </div>
</body>
<!-- 引入 Vue 和 Vant 的 JS 文件 -->
<script type="text/javascript" src="./libs/vue.min.js"></script>
<script type="text/javascript" src="./libs/vant.min.js"></script>
<script type="text/javascript" src="./libs/axios.min.js"></script>
<script type="text/javascript" src="./libs/jweixin-1.2.0.js"></script>
<!-- <script type="text/javascript" src="./libs/xlsx.full.min.js"></script> -->
<script type="text/javascript" src="./libs/common.js"></script>
<script>
    const app = new Vue({
        el: "#app",
        data: {
            activeNames: [],
            operator: {},
            referreds: {}
        },
        beforeMount: function () {
            //this.code = this.$route.query.code;
            //this.code = window.location.href;
            getTicket()
                .then(r => this.operator = r)
                .then(r => axios.get(`/yz/referred/get-referreds?op=YuChunJian`))//${this.operator.id}
                .then(r => {
                    //console.log("referreds: ", r.data.referreds);
                    this.referreds = r.data.referreds;
                })
                .catch(err => console.log(err));
        },
        methods: {
            closeWindow() {
                wx.closeWindow();
            },
            download() {
                /* converts an array of JS objects to a worksheet */
                // const worksheet = XLSX.utils.json_to_sheet({a: 1});
                // let new_workbook = XLSX.utils.book_new();
                // XLSX.utils.book_append_sheet(new_workbook, worksheet, "SheetJS");
                /* output format determined by filename */
                // XLSX.writeFile(new_workbook, 'out.xlsx');
                /* at this point, out.xlsb will have been downloaded */
            }
        },
        computed: {
            timeString() {
                return this.referreds.map(item => {
                    return new Date(item.tracks[0].update_time).toLocaleString();
                });
            }
        }
    })
</script>

</html>