<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        #app {
            font-family: "Avenir", Helvetica, Arial, sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            /* text-align: center; */
            color: #2c3e50;
            /* margin-top: 60px; */
        }
    </style>
    <!-- 引入样式文件 -->
    <link rel="stylesheet" href="./styles/vant.css">
    <title>谊众CRM系统</title>
</head>

<body>
    <div id="app">
        <van-nav-bar title="录入新的转介绍信息"></van-nav-bar>
        <van-cell-group title="客户信息(必填)：">
            <van-field v-model="customerName" required label="客户姓名：" left-icon="contact" placeholder="请输入客户姓名">
            </van-field>
            <van-field v-model="customerPhone" required label="客户手机：" placeholder="请输入客户手机号" left-icon="phone-o">
            </van-field>
            <van-field readonly clickable label="意向车型" :value="carType" placeholder="请选择车型" @click="showPicker = true">
            </van-field>
            <van-popup v-model="showPicker" position="bottom">
                <van-picker show-toolbar :columns="carTypes" @cancel="showPicker = false" @confirm="onConfirm" />
            </van-popup>
            <!-- <van-picker :columns="carTypes" @change="onChange" /> -->
            <!-- <van-field v-model="carType" label="意向车型：" placeholder="可输入客户意向购买车型" left-icon="star-o"> -->
            </van-field>
        </van-cell-group>
        <van-radio-group v-model="source">
            <van-cell-group title="选择信息来源：">
                <van-cell title="转介绍" clickable @click="radio = '转介绍'">
                    <van-radio slot="right-icon" name="转介绍"></van-radio>
                </van-cell>
                <van-cell title="保客营销" clickable @click="radio = '保客营销'">
                    <van-radio slot="right-icon" name="保客营销"></van-radio>
                </van-cell>
            </van-cell-group>
        </van-radio-group>
        <van-cell-group title="介绍人信息：">
            <van-field v-model="fromName" label="介绍人姓名：" placeholder="可输入介绍人姓名"></van-field>
            <van-field v-model="fromPhone" label="介绍人手机：" placeholder="可输入介绍人手机号"></van-field>
        </van-cell-group>
        <van-cell><span>录入人员：{{ operator.name }}——{{ operator.mobile }}</span></van-cell>
        <van-cell>
            <van-button type="primary" style="width: 100%" @click="sendNewReferred">确认保存</van-button>
        </van-cell>
    </div>
</body>
<!-- 引入 Vue 和 Vant 的 JS 文件 -->
<script type="text/javascript" src="./libs/vue.min.js"></script>
<script type="text/javascript" src="./libs/vue-router.js"></script>
<script type="text/javascript" src="./libs/httpVueLoader.js"></script>
<script type="text/javascript" src="./libs/vant.min.js"></script>
<script type="text/javascript" src="./libs/axios.min.js"></script>
<script type="text/javascript" src="./libs/jweixin-1.2.0.js"></script>
<script>
    const corpID = "ww29233ad949e808bf";

    function urlencode2(str) {
        str = (str + '').toString();
        return encodeURIComponent(str).replace(/!/g, '%21').replace(/'/g, '%27').replace(/\(/g, '%28').
            replace(/\)/g, '%29').replace(/\*/g, '%2A').replace(/%20/g, '+');
    }

    //const routes = [];
    //const router = new VueRouter({ mode: 'history', routes });
    const router = new VueRouter({
        mode: 'history'
    });

    const app = new Vue({
        el: "#app",
        router,
        data: {
            customerName: null,
            customerPhone: null,
            carTypes: ['宝来', '速腾', '迈腾', '高尔夫', '嘉旅', 'CC'],
            carType: '',
            showPicker: false,
            source: '转介绍',
            fromName: null,
            fromPhone: null,
            operator: {
                name: '',
                mobile: '',
                id: ''
            }
        },
        mounted: function () {
            //this.code = this.$route.query.code;
            //this.code = window.location.href;
            axios.get(`/yz/referred/get-jsapi-ticket?url=${encodeURIComponent(window.location.href)}`)
                .then(res => {
                    const ticket = res.data.sign;
                    this.operator = res.data.user;
                    //console.log(ticket);
                    wx.config({
                        beta: true, // 必须这么写，否则wx.invoke调用形式的jsapi会有问题
                        debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                        appId: corpID, // 必填，企业微信的corpID
                        timestamp: ticket.timestamp, // 必填，生成签名的时间戳
                        nonceStr: ticket.nonceStr, // 必填，生成签名的随机串
                        signature: ticket.signature, // 必填，签名，见 附录-JS-SDK使用权限签名算法
                        jsApiList: ["selectEnterpriseContact"] // 必填，需要使用的JS接口列表，凡是要调用的接口都需要传进来
                    });
                })
                .catch(err => console.log(err));
        },
        methods: {
            onConfirm(value) {
                this.carType = value;
                this.showPicker = false;
            },
            onChange(picker, value, index) {
                //Toast(`当前值：${value}, 当前索引：${index}`);
                this.carType = value;
            },
            onClickLeft() {
                vant.Toast("返回");
            },
            onClickRight() {

            },
            sendNewReferred() {
                //window.console.log(this.$data);
                axios
                    .get("/yz/referred/new", {
                        params: {
                            customerName: this.customerName,
                            customerPhone: this.customerPhone,
                            carType: this.carType,
                            source: this.source,
                            fromName: this.fromName,
                            fromPhone: this.fromPhone,
                            operator: this.operator
                        }
                    })
                    //.then(r => window.alert(r.data.msg))
                    .then(r => vant.Toast.success(r.data.msg))
                    .then(r => setTimeout(wx.closeWindow, 2000))
                    .catch(err => vant.Toast.fail("保存失败！"));
            }
        }
    })
</script>

</html>