<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        #app {
            font-family: "Avenir", Helvetica, Arial, sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            /* text-align: center; */
            color: #2c3e50;
            /* margin-top: 60px; */
        }
    </style>
    <!-- 引入样式文件 -->
    <link rel="stylesheet" href="./styles/vant.css">
    <title>谊众CRM系统</title>
</head>

<body>
    <div id="app">
        <van-nav-bar title="录入新的转介绍信息"></van-nav-bar>
        <van-cell-group title="客户信息(必填)：">
            <van-field v-model="customerName" required label="客户姓名：" left-icon="contact" placeholder="请输入客户姓名">
            </van-field>
            <van-field v-model="customerPhone" required label="客户手机：" placeholder="请输入客户手机号" left-icon="phone-o">
            </van-field>
            <van-field readonly clickable label="意向车型" :value="carType" placeholder="请选择车型" @click="showPicker = true">
            </van-field>
            <van-popup v-model="showPicker" position="bottom">
                <van-picker show-toolbar :columns="carTypes" @cancel="showPicker = false" @confirm="onConfirm" />
            </van-popup>
            </van-field>
        </van-cell-group>
        <van-cell-group title="介绍人信息：">
            <van-field v-model="fromName" label="介绍人姓名：" placeholder="可输入介绍人姓名"></van-field>
            <van-field v-model="fromPhone" label="介绍人手机：" placeholder="可输入介绍人手机号"></van-field>
        </van-cell-group>
        <van-field v-model="preEmployer" label="建议顾问：" placeholder="可输入建议指派的顾问"></van-field>
        <van-cell><span>录入人员：{{ operator.name }}——{{ operator.mobile }}</span></van-cell>
        <van-cell>
            <van-button type="primary" style="width: 100%" @click="sendNewReferred">确认保存</van-button>
        </van-cell>
    </div>
</body>
<!-- 引入 Vue 和 Vant 的 JS 文件 -->
<script type="text/javascript" src="./libs/vue.min.js"></script>
<script type="text/javascript" src="./libs/vant.min.js"></script>
<script type="text/javascript" src="./libs/axios.min.js"></script>
<script type="text/javascript" src="./libs/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="./libs/common.js"></script>
<script>
    //const routes = [];
    //const router = new VueRouter({ mode: 'history', routes });

    const app = new Vue({
        el: "#app",
        data: {
            customerName: null,
            customerPhone: null,
            carTypes: ['宝来', '速腾', '迈腾', '高尔夫', '嘉旅', 'CC', '探歌', '探岳'],
            carType: '',
            showPicker: false,
            fromName: null,
            fromPhone: null,
            preEmployer: null,
            operator: {
                name: '',
                mobile: '',
                id: ''
            }
        },
        mounted: function () {
            getTicket()
                .then(r => this.operator = r)
                .catch(err => console.log(err));
        },
        methods: {
            onConfirm(value) {
                this.carType = value;
                this.showPicker = false;
            },
            onChange(picker, value, index) {
                //Toast(`当前值：${value}, 当前索引：${index}`);
                this.carType = value;
            },
            sendNewReferred() {
                //window.console.log(this.$data);
                axios
                    .get("/yz/referred/new", {
                        params: {
                            customerName: this.customerName,
                            customerPhone: this.customerPhone,
                            carType: this.carType,
                            fromName: this.fromName,
                            fromPhone: this.fromPhone,
                            preEmployer: this.preEmployer,
                            operator: this.operator
                        }
                    })
                    //.then(r => window.alert(r.data.msg))
                    .then(r => vant.Toast.success(r.data.msg))
                    .then(r => setTimeout(wx.closeWindow, 2000))
                    .catch(err => vant.Toast.fail("保存失败！"));
            }
        }
    })
</script>

</html>